{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>CinePop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
		<link rel="apple-touch-icon" sizes="180x180" href={% static "/images/apple-touch-icon.png" %}>
		<link rel="icon" type="image/png" sizes="32x32" href={% static "/images/favicon-32x32.png" %}>
		<link rel="icon" type="image/png" sizes="16x16" href={% static "/images/favicon-16x16.png" %}>
		<noscript><link rel="stylesheet" href={% static "assets/css/noscript.css" %} /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<a href={% url "peliculas" %} class="logo" style="color: black">CinePop</a>
					</header>
				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href={% url "peliculas" %} >Filmes</a></li>
							<li><a href={% url "generic" %} >Bar</a></li>
							<li><a href={% static "check" %} >Comprar Bilhetes e Comida</a></li>
							<li><a href={% url "login" %} >Login</a></li>
							<li><a href={% url "registar" %} >Registar</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<!-- Post -->
							<section class="post">
								 <header class="major">
									<span class="date">Até 19 fevereiro 2023</span>
									<div class="image main"><img src={% static "images/ars.jpg" %}  alt="" /></div>
									<a href="https://www.youtube.com/watch?v=1eVr3zdf_do"><i>Ver Trailer</i></a>
								</header>
								<h3 align="center">A RAPARIGA SELVAGEM</h3>
								<p>M12</p>
								<p><b>Género:</b> Drama, Thriller</p>
								<p><b>Título Original:</b> Where The Crawdads Sing</p>
								<p><b>Realizador:</b> Olivia Newman</p>
								<p><b>Atores:</b> Daisy Edgar-Jones, Harris Dickinson, David Strathairn</p>
								<p><b>Distribuidora:</b> Big Picture</p>
								<p><b>País:</b> EUA</p>
								<p><b>Ano:</b> 2021</p>
								<p><b>Duração (minutos):</b> 125</p>
								<br>
								<hr>
								<h4><b>Sinopse:</b></h4>
								<p>Kya é uma menina abandonada durante a infância que dá por si a crescer sozinha até à idade adulta nos perigosos pântanos da Carolina do Norte. Durante anos, os rumores acerca da “rapariga do pântano” assombraram Barkley Cove, isolando a astuta e resiliente Kya da sua comunidade. Atraída por dois jovens da cidade, Kya expõe-se a um novo e surpreendente mundo; mas, quando um deles é encontrado morto, ela é imediatamente apontada pela comunidade como a principal suspeita. À medida que o caso se desenrola, o veredicto sobre o que realmente aconteceu torna-se cada vez mais obscuro, ameaçando revelar os muitos segredos do pântano.</p>
								<hr>
								<h4>Horário</h4><br>
								<p><b style="color: red">Sala 7</b></p>
								<p>10h40 | 13h30 | 23h50</p>
								<hr>
								<ul class="actions special">
									<li><a href={% url "peliculas" %} class="button large">Voltar</a></li>
								</ul>
							</section>
					</div>
				<!-- Copyright -->
					<div id="copyright">
						<ul><li style="color: darkblue">&copy; COPYRIGHT BY</li><li style="color: darkblue">SOFIA SILVA  |  ANDREZZA NOGUEIRA  |  FLORINDA TOMÉ</li></ul>
					</div>
			</div>
		<!-- Scripts -->
			<script src={% static "assets/js/jquery.min.js" %} ></script>
			<script src={% static "assets/js/jquery.scrollex.min.js" %} ></script>
			<script src={% static "assets/js/jquery.scrolly.min.js" %} ></script>
			<script src={% static "assets/js/browser.min.js" %} ></script>
			<script src={% static "assets/js/breakpoints.min.js" %} ></script>
			<script src={% static "assets/js/util.js" %} ></script>
			<script src={% static "assets/js/main.js" %} ></script>
	</body>
</html>