{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>CinePop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
		<link rel="apple-touch-icon" sizes="180x180" href={% static "/images/apple-touch-icon.png" %}>
		<link rel="icon" type="image/png" sizes="32x32" href={% static "/images/favicon-32x32.png" %}>
		<link rel="icon" type="image/png" sizes="16x16" href={% static "/images/favicon-16x16.png" %}>
		<noscript><link rel="stylesheet" href={% static "assets/css/noscript.css" %} /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
						<img src={% static "images/logo.png" %} alt="" />
						<p class="sombra"><b style="color: darkblue">DESEJA CANCELAR A COMPRA?</b></p>
						<p class="sombra"><b><a href={% url "index" %} style="color: darkblue">Sim</a></b></p>
						<p class="sombra"><b><a href="#header" style="color: darkblue">Não</a></b></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly"></a></li>
						</ul>
					</div>
				<!-- Header -->
					<header id="header">
						<!-- Para funcionar o círculo com a seta -->
					</header>
				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href={% url "index" %} >Filmes</a></li>
							<li><a href={% url "generic" %} >Bar</a></li>
							<li class="active"><a href={% url "check" %} >Comprar Bilhetes e Comida</a></li>
							<li><a href={% url "login" %} >Login</a></li>
							<li><a href={% url "registar" %} >Registar</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<!-- Posts -->
							<h3 align="center">4º passo: Indique o(s) bilhete(s) pretendido(s)</h3>
							<section class="posts">
								<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Tipo de Bilhete</th>
													<th>Preço</th>
													<th>Quantidade</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Bilhete Normal</td>
													<td>6,70€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Estudante</td>
													<td>5,80€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Idoso(+65)</td>
													<td>5,80€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Criança(até 12)</td>
													<td>5,80€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete 2º Feira</td>
													<td>6,20€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Cartão FNAC</td>
													<td>6,20€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Movie KIT GIFT Digital(2 bilhetes + 2 pipocas pequenas + 2 bebidas pequenas)</td>
													<td>19€</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Movie Kit Super (1 bilhete + 1 pipoca grande + 1 bebida média)</td>
													<td>11,50€ (Filme 3D +1,5€; Óculos +1€)</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Movie Kit Clássico (1 bilhete + 1 pipoca média + 1 bebida pequena)</td>
													<td>10€ (Filme 3D +1,5€; Óculos +1€)</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Movie Kit Estudante (2º a 4º feira) (1 bilhete + 1 pipoca pequena + 1 bebida pequena)</td>
													<td>6,50€ (Filme 3D +1,5€; Óculos +1€)</td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Cinema em Família (2 adultos + 1 criança)</td>
													<td>Adulto: 4,90€<p>Criança: 3,80€</p><p>(Filme 3D +1,5€; Óculos +1€)</p></td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Parceria Moche</td>
													<td>Menu Moche (1 bilhete + 1 pipoca pequena + 1 bebida pequena): 6,5€<p>Apenas bilhete: 4€</p></td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
												<tr>
													<td>Bilhete Promo BP Premier Plus</td>
													<td>400pts = 1 bebida média ou 1 pipoca média<p>1000pts = 1 bilhete</p></td>
													<td><div class="col-12">
												<select name="demo-category" id="demo-category">
													<option value="">Quant.</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
													<option value="1">4</option>
												</select>
											</div></td>
												</tr>
											</tbody>
											</tfoot>
										</table>
									</div>
								</section>
								<ul class="actions">
									<li><a href={% static "comprabar" %} class="button" style="color: black">Continuar</a><li>
								</ul>
									</div>
				<!-- Copyright -->
					<div id="copyright">
						<ul><li style="color: darkblue">&copy; COPYRIGHT BY</li><li style="color: darkblue">SOFIA SILVA  |  ANDREZZA NOGUEIRA  |  FLORINDA TOMÉ</li></ul>
					</div>
		<!-- Scripts -->
			<script src={% static "assets/js/jquery.min.js" %} ></script>
			<script src={% static "assets/js/jquery.scrollex.min.js" %} ></script>
			<script src={% static "assets/js/jquery.scrolly.min.js" %} ></script>
			<script src={% static "assets/js/browser.min.js" %} ></script>
			<script src={% static "assets/js/breakpoints.min.js" %} ></script>
			<script src={% static "assets/js/util.js" %} ></script>
			<script src={% static "assets/js/main.js" %} ></script>
	</body>
</html>